name: Inga analysis

on:
  pull_request:

jobs:
  inga-analysis:

    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        # https://github.com/actions/checkout/issues/124
        ref: ${{ github.event.pull_request.head.ref }}
    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Compile with Gradle
      run: ./gradlew compileJava
    - uses: seachicken/inga-action@ci-test
      with:
        language: "java"
        exclude: "src/test/**"
